body{
	width: 800px; 
	height: 600px;
}
#header{
	background: red;
	width: 100%;
	height: 10%;
}
#postContent{
	background: green;
	width:90%;
	height: 90%;
	float: right;
	overflow: auto;
}
#leftMenu{
	background: blue;
	width: 10%;
	height: 90%;
	float: left;
}
#btn{
	float : right;
}
.post{
	border-radius:10px;
	background-size: cover;
	width: 70px;
	height: 70px;
	float: left;
	margin-left: 2%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
	border: 2px solid rgba(255, 255, 0, 0.62);
	
}
.post:hover{
	border: 2px solid blue;
}
.post:active{	
	border: 2px solid orangered;
}
#num{
	color: yellow;
    margin-top: 55px;
    margin-left: 25px;
    border-radius: 5px;
    background: darkcyan;
	position: relative;
    float: inherit;
}

altmenu{
	width: 125;
    height: 200;
	background: rgba(255, 77, 22, 1);
    position: absolute;
    border: 2px solid;
	display: none;
}

.element{
    width: initial;
    text-align: center
}
.element:hover{
	background: beige;
}

.input{
	float: right;
    margin-right: 20px;
    width: 6%;
	text-align: center;
	border-radius:10px;
}
#idOfUser{
	width:12%;
}
#start{
	float: right;
    margin-right: 20;
}
.status{
	
}
#Posts{
	 
}
#wait{
	width : inherit;
	height: inherit;
	background-size: cover;
	
}