body{
	width: 850px; 
	height: 650px;
}
#header{
    background: rgb(87, 121, 157);
    width: 100%;
    height: 10%;
    /* border: 2px solid; */
    border-color: cadetblue;
}
#postContent{
	background: rgba(137,84,47,0.05);
	width:90%;
	height: 90%;
	float: right;
	overflow: auto;
}
#leftMenu{
	background: blue;
	width: 10%;
	height: 90%;
	float: left;
}
#btn{
	float : right;
}
.post{
	border-radius: 10px;
    background-size: cover;
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    border: 3px outset rgb(195, 222, 255);
    box-shadow: 0 0 5px 2px rgba(58, 50, 49, 0.72);
    /* outline-color: chartreuse; */
	
}
.post:hover{
	    border: 3px outset #488AE8;
}
.post:active{	
	border: 3px outset rgb(0, 22, 255)
}
#num{
	color: yellow;
    margin-top: 55px;
    margin-left: 25px;
    border-radius: 5px;
    background: darkcyan;
	position: relative;
    float: inherit;
}

altmenu{
	width: 125;
    height: initial;
    background: rgb(70, 124, 181);
    position: absolute;
    border: 2px solid;
    border-radius: 15px;
    display: none;
}

.element{
   width: initial;
    text-align: center;
    border-radius: 10px;
    color: #FAE3C6;
}
.element:hover{

    background: rgba(206, 180, 0, 0.93);
}

.input{
	float: right;
    margin-right: 20px;
    width: 6%;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    font-family: sans-serif;
    background: #DDDDDD;
}
#idOfUser{
	width:12%;
}
#start{
	float: right;
    margin-right: 20;
	border-radius: 6px;
	
}
.status {
    padding-left: 6px;
    padding-top: 15px;
    position: absolute;
}
#Posts{
	 
}
#wait{
    width: inherit;
    height: inherit;
    background-size: contain;
    position: absolute;
    left: 15%;
    background-repeat: no-repeat;
	
}

.tabContent{
	width: 46%;
    height: 58px;
    position: absolute;
    left: 15%;
    top: 10;
    border: 2px outset;
    border-radius: 5px;
    border-color: #99AABF;
}
.switchers{
	margin-left: 5px;
}
.tab{
	display: block;
    margin-top: 6px;
	padding-left: 18px;

}
input#url {
    margin-left: 30;
    margin-right: 10;
	border-radius: 5px;
    text-align: center
}
.toTab{
	border-radius: 6px;
	margin-top: 3px;
}
#getID{
	border-radius: 6px;
	background-color: white;
}
label#all {
    position: absolute;
    left: 235px;
    top: 2px;
}
#datepickerFrom{
	width: 30%;
    text-align: center;
	border-radius: 10px
}
#datepickerTo{
	width: 30%;
    text-align: center;
	border-radius: 10px
}
label input[id=timeSortingSwitcher] {
    position: absolute;
}
#progressbar{
	    height: 10;
}
.ui-progressbar-value{
	background-color: orangered;
}
label {
    color: antiquewhite;
    font-family: sans-serif;
}
button {
    font-family: sans-serif;
    font-size: 16px;
}
label#postCount {
    position: absolute;
    top: 1px;
}